@import '@src/styles/hud.scss';
@import '@src/styles/menu.scss';
@import '@src/styles/game-over.scss';

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

canvas {
  display: block;
}