@use '@src/styles/hud.scss';
@use '@src/styles/menu.scss';
@use '@src/styles/game-over.scss';
@use '@src/styles/pause-screen.scss';

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}